<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Extend Device</title>


  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

  <!-- build:js scripts/vendor.js -->
  <script src="bower_components/vue/dist/vue.js"></script>
  
  <!-- bower:js -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js scripts/main.js -->
  <script src="scripts/main.js"></script>
  <!-- endbuild -->

</head>

<body>

  <div id="addinExtendDevice">

    <header class="geotabPageHeader">
      <h1 class="geotabPageName">Add-in Data <span class="subdued">Extend Device</span></h1>
    </header>
    <p>This sample illustrates extending a device with suplementary data using the AddInData API.</p>

    <p style="color:red; display: block">{{ errorMessage }}</p>

    <fieldset id="app-4" class="geotabFieldset">
      <div class="geotabField">
        <label>Select Vehicle:</label>
        <select v-model="selected" @changed="deviceChanged()" class="geotabFormEditField">
          <option v-for="device in devices" v-bind:value="device.id">
              {{ device.name }}
            </option>
        </select>
      </div>
    </fieldset>

    <fieldset class="geotabFieldset" id="properties">
      <legend>Extention Properties</legend>

      <div class="cssGrid sm-part-12" v-for="property in properties">
        <div class="sm-part-5">
          <input type="text" class="geotabFormEditField" placeholder="Key" name="key"  v-model="property.key" @blur="edit(property)" @keyup.enter="edit(property)" />
        </div>
        <div class="sm-part-5">
          <input type="text" class="geotabFormEditField" placeholder="Value" name="value"  v-model="property.value" @blur="edit(property)" @keyup.enter="edit(property)" />
        </div>
        <div class="sm-part-2" v-if="property.isSaved">
          <button class="geotabButton" @click="remove(property)">Remove</button>
        </div>
        <div class="sm-part-2" v-if="!property.isSaved">
          <button class="geotabButton" @click="add(property)">Add</button>
        </div>
      </div>
    </fieldset>
  </div>

</body>

</html>